<footer>
    <div id="footerContent">
        <ul class="colophon u-cf">
            <li class="colophon__item"><a data-link-name="uk : footer : membership" href="https://membership.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_MEMBERSHIP">
            membership</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_JOBS">
            jobs</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : soulmates" href="https://soulmates.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SOULMATES">
            dating</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : masterclasses" href="/guardian-masterclasses?INTCMP=NGW_FOOTER_UK_GU_MASTERCLASSES">
            masterclasses</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : subscribe" target="_blank" href="http://subscribe.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SUBSCRIBE">
            subscribe</a></li>
            <li class="colophon__item"><a data-link-name="all topics" href="/index/subjects/a">all topics</a></li>
            <li class="colophon__item"><a data-link-name="all contributors" href="/index/contributors">all contributors</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : about us" target="_blank" href="/info">
            about us</a></li>
            <li class="colophon__item"><a data-link-name="uk : footer : contact us" target="_blank" href="/help/contact-us">
            contact us</a></li>
            <li class="colophon__item"><a data-link-name="complaints" href="/info/complaints-and-corrections">
            complaints &amp; corrections</a></li>
            <li class="colophon__item"><a data-link-name="terms" href="/help/terms-of-service">terms &amp; conditions</a></li>
            <li class="colophon__item"><a data-link-name="privacy" href="/help/privacy-policy">privacy policy</a></li>
            <li class="colophon__item"><a data-link-name="cookie" href="/info/cookies">cookie policy</a></li>
            <li class="colophon__item"><a data-link-name="securedrop" href="https://securedrop.theguardian.com/">securedrop</a></li>
        </ul>
        <div class="l-footer__misc">
        <div class="really-serious-copyright">© 2015 Guardian News and Media Limited or its affiliated companies. All&nbsp;rights&nbsp;reserved.</div>
        </div>
    </div>
</footer>

<style>
    footer {
        background:#424242;
    }
    footer .really-serious-copyright {
        font-size: 12px;
        color:#dcdcdc;
        font-family:'Guardian Text Sans Web','Agate Sans',sans-serif;
        margin:0 10px 20px;
        padding-top:10px;
    }

    footer #footerContent {
        margin: 0 auto;
        padding-bottom: 1px;
        overflow: hidden;
    }
    @media (min-width: 740px) {
        footer #footerContent {
            max-width: 740px;
        }
    }
    @media (min-width: 980px) {
        footer #footerContent {
            max-width: 980px;
        }
    }
    @media (min-width: 1140px) {
        footer #footerContent {
            max-width: 1140px;
        }
    }
    @media (min-width: 1300px) {
        footer #footerContent {
            max-width: 1300px;
        }
    }
    footer #footerContent .colophon {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0;
        margin: 20px 10px 10px;
    }
    @media (min-width: 740px) {
        footer #footerContent .colophon {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }
    @media (min-width: 1300px) {
        footer #footerContent .colophon {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }
    }
    footer #footerContent .colophon li {
        padding: 0;
        margin: 0;
    }
    footer #footerContent a {
        color: gainsboro;
        text-decoration: none;
        padding-bottom: 12px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        display: inline-block;
    }
    footer #footerContent a:hover {
        text-decoration: underline;
    }
</style>
