<div class="policy-grid sticky-bar-spacing">
    <sticky-bar>
        <span class="top-bar--left policy-title policy-title--top-bar">
            <h2 class="policy-title__title">{{policies.length || 0}} policies</h2>
            <span class="policy-title__share">
                <span class="policy-title__share__text">Share your policies</span>
                <button on-click="share:twitter" class="share share--twitter"></button>
                <button on-click="share:facebook" class="share share--facebook"></button>
                <button on-click="share:email" class="share share--email"></button>
                <button on-click="share:google" class="share share--google"></button>
            </span>
        </span>
        <span class="top-bar--right">
            <a class="back-to-top" href="#explore">{{topText}}</a>
        </span>
    </sticky-bar>

    <div>
    {{#policies}}
        <div class="policy-grid__item {{#rowNumber == policyNo}}is-selected{{/rowNumber}}">
            <p class="policy-grid__item__party policy-grid__item__party--{{party.toLowerCase()}}">{{party}}</p>
            <h4 class="policy-grid__item__title">{{policy}}</h4>
            {{#rowNumber == policyNo}}
                <p>{{policyverbatim}}</p>
            {{/rowNumber}}
            <a class="policy-grid__item__link" href="#policy" title="Read more about this policy" on-click="policy"></a>
            <p class="policy-grid__item__toggle-selected">Read</p>
            <p class="policy-grid__item__tags explore-mode">
                {{#tags:i}}
                    {{.}}{{#if i != tags.length - 1}}{{", "}}{{/if}}
                {{/tags}}
            </p>
            <a class="policy-grid__item__toggle-bucket explore-mode" href="#" title="Add to policy bucket"></a>
        </div>
    {{/policies}}
    </div>
</div>

<script>
    component.exports = {
        'data': {
            'policyNo': 0
        },
        'onrender': function () {
            this.on('policy', function (evt) {
                var policy = evt.context.rowNumber;
                this.set('policyNo', policy === this.get('policyNo') ? -1 : policy);
                evt.original.preventDefault();
            });
        }
    };
</script>
