<div class="policy-grid {{#if selectedPolicy}}has-selected{{/if}}">
    {{#policies}}
        <div class="policy-grid__item {{#if this == selectedPolicy}}is-selected{{/if}} js-party-{{party.toLowerCase()}}">
            <p class="policy-grid__item__party policy-grid__item__party--{{party.toLowerCase()}}">{{party}}</p>
            <h4 class="policy-grid__item__title">{{policy}}</h4>
            {{#if this == selectedPolicy}}
                <p class="policy-grid__item__share">
                    <button on-click="share:twitter" class="share share--twitter"></button>
                    <button on-click="share:facebook" class="share share--facebook"></button>
                </p>
                <p>{{policyverbatim}}</p>
            {{/if}}
            <a class="policy-grid__item__link" href="#" title="Read more about this policy" on-click="toggle"></a>
            {{#if this == selectedPolicy}}
                <p><a class="policy-grid__item__source button button--small button--tertiary" href="{{source}}" target="_blank">Source</a></p>
                {{#if commentary}}
                    <p class="policy-grid__item__commentary">
                        <img src="@@assets@@/imgs/people/{{commentaryinitials}}.jpg">
                        <b>{{commentaryname}}&nbsp;</b> {{commentary}}
                    </p>
                {{/if}}
            {{/if}}
        </div>
    {{/policies}}
</div>

<script>
    component.exports = {
        'isolated': true,
        'data': {
            'selectedPolicy': undefined
        },
        'onrender': function () {
            var parentEle = this.find('.policy-grid');
            var selectedNode;

            var checkSize = window.debounce(function () {
                if (selectedNode.offsetLeft < 0) {
                    selectedNode.classList.remove('is-at-edge');
                } else if (selectedNode.offsetLeft + selectedNode.offsetWidth  >= parentEle.clientWidth) {
                    selectedNode.classList.add('is-at-edge');
                }
            });

            this.on('toggle', function (evt) {
                var policy = evt.context;
                var selectedPolicy = policy === this.get('selectedPolicy') ? undefined : policy;

                this.set('selectedPolicy', selectedPolicy);

                if (selectedPolicy) {
                    selectedNode = evt.node.parentNode;
                    window.addEventListener('resize', checkSize);
                    checkSize();
                } else {
                    window.removeEventListener('resize', checkSize);
                }

                return false;
            });

            this.on('close', function () {
                this.set('selectedPolicy', undefined);
            });
        }
    };
</script>
