<div class="sticky-bar {{class}}">
    {{yield}}
</div>

<style>
    .sticky-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .sticky-bar.is-sticky {
        position: fixed;
    }

    .sticky-bar.is-bottom {
        bottom: 0;
        top: auto;
    }
</style>

<script>
    function debounce(fn) {
        var timer, run;

        return function runner() {
            if (timer) {
                run = true;
            } else {
                fn();
                timer = setTimeout(function () {
                    timer = undefined;
                    if (run) {
                        run = false;
                        runner();
                    }
                }, 100);
            }
        };
    }

    function getOffset(el) {
        return el ? el.offsetTop + getOffset(el.offsetParent) : 0;
    }

    component.exports = {
        'onrender': function () {
            var parentEle = this.el;
            var barEle = this.find('.sticky-bar');

            var eventHandler = debounce(function () {
                var scrollY = window.pageYOffset;
                var parentTop = getOffset(parentEle);
                var parentBottom = parentTop + parentEle.clientHeight - barEle.clientHeight;
                var className = '';

                if (scrollY >= parentBottom) {
                    className = 'is-bottom';
                } else if (scrollY >= parentTop) {
                    className = 'is-sticky';
                }

                // Want classList!
                barEle.className = barEle.className.replace(/is-sticky/g, '').replace(/is-bottom/g, '').trim() + ' ' + className;
            });

            document.addEventListener('scroll', eventHandler);
            window.addEventListener('resize', eventHandler);
        }
    };
</script>
