<div class="container {{#if mode == 'explore'}}is-explore{{else}}is-basic{{/if}}">
    <div class="header">
        <h1>Will their policies work for you?</h1>
        <p class="header__text">
            Lorem ipsum Dolor sit amet, consectetur adipiscing elit. Nam et mattis nunc.
            Sed sed elementum justo, et aliquam lectus. Quisque lacinia, erat sit amet
            fermentum sollicitudin, massa.
        </p>
        <p class="header__text">
            <a href="http://www.theguardian.com/profile/seanclarke">Sean Clarke</a>,
            <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a> and
            <a href="http://www.theguardian.com/profile/will-franklin">Will Franklin</a>
        </p>
        <p class="header__date">Wednesday 28 January 2015 18:45 GMT</p>
        <p class="header__text">
            <button on-click="share:twitter" class="share share--twitter"></button>
            <button on-click="share:facebook" class="share share--facebook"></button>
            <button on-click="share:email" class="share share--email"></button>
            <button on-click="share:google" class="share share--google"></button>
        </p>
        <div class="header__advert"><advert /></div>
    </div>

    <div class="basic-mode">
        <div class="questions sticky-bar-spacing">
            <sticky-bar class="question-bar">
                <span class="question-bar__list">
                    {{#questions:questionNo}}
                        <a class="question-bar__list__item {{#currentSection == questionNo}}is-current{{/currentSection}}" href="#" on-click="question">
                            {{questionNo + 1}}
                        </a>
                    {{/questions}}
                </span>
                <span class="question-bar__summary">
                    <a class="question-bar__summary__link" href="#" on-click="policies">
                        View your <span class="question-bar__summary__link__count">{{userPolicies.length || 0}} policies</span>
                    </a>
                </span>
            </sticky-bar>

            {{#questions:questionNo}}
                <h2 class="questions__item headline" id="question-{{questionNo}}">{{question}}</h2>
                <div class="answers {{#userAnswers[questionNo]}}is-answered{{/userAnswers}}">
                    {{#answers}}
                        <a class="answers__item {{#userAnswers[questionNo] == this}}is-selected{{/userAnswers}}" href="#" on-click="answer">
                            <i class="answers__item__icon"><img src="@@assets@@/imgs/icons/{{img}}.svg" /></i>
                            {{answer}}
                        </a>
                    {{/answers}}
                </div>
            {{/questions}}
        </div>

        <policy-grid policies="{{userPolicies}}" />
    </div>

    <div class="explore-mode" style="position: relative">
        <div class="filters">
            {{#tags}}
                <span class="filter">
                    <span class="filter__title">{{area}}</span>
                    {{#tags}}
                        <label class="filter__button {{#only}}is-selected{{/only}}">
                            <input type="checkbox" checked="{{only}}" /> {{tag}}
                        </label>
                    {{/tags}}
            {{/tags}}
        </div>
        <div class="filters filters--right">
            <span class="filter">
                <span class="filter__title">Party</span>
                {{#parties}}
                    <label class="filter__button {{#only}}is-selected{{/only}}">
                        <input type="checkbox" checked="{{only}}" /> {{party}}
                    </label>
                {{/parties}}
            </span>
        </div>
        <policy-grid policies="{{allPolicies}}" />
        <div class="btq">
            <div class="btq__advert"><advert /></div>
            <h3 class="btq__title">Still can't decide?</h3>
            <h3 class="btq__subtitle">Let us help build your policy profile</h3>
            <a href="#">Answer the questions &raquo;</a>
        </div>
    </div>
</div>
