<div class="container">
    <div id="election-nav-head"></div>
    <div class="header">
        <h1>Election 2015: What are the parties offering you?</h1>
        <p class="header__text">
            How will their manifesto promises affect you in your daily life? Our guide selects the policy
            areas which target particular groups and lets you build up a picture of how (or whether&#8230;)
            the parties say they will help you
        </p>
        <p class="header__text">
            <a href="http://www.theguardian.com/profile/seanclarke">Seán Clarke</a>,
            <a href="http://www.theguardian.com/profile/will-franklin">Will Franklin</a>,
            <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a>,
            Nicola Slawson,
            <a href="http://www.theguardian.com/profile/glenn-swann">Glenn Swann</a> and
            <a href="http://www.theguardian.com/profile/paultorpey">Paul Torpey</a>
        </p>
        <p class="header__date">Wednesday 22 April 2015 8:00 BST</p>
        <p class="header__text">
            <button on-click="share:twitter" class="share share--twitter"></button>
            <button on-click="share:facebook" class="share share--facebook"></button>
            <button on-click="share:email" class="share share--email"></button>
            <button on-click="share:google" class="share share--google"></button>
        </p>
        <div class="header__advert"><advert /></div>
    </div>

    <div class="{{#mode != 'basic'}}is-hidden{{/mode}}" style="opacity: {{modeOpacity}}">
        <div class="section section--sticky-bar section--questions">
            <sticky-bar class="js-question-bar">
                <a class="sticky-bar__left link-to-policies" href="#" on-click="goto:policies" title="View your policies">
                    {{userPolicyCount}} policies
                </a>
                <span class="sticky-bar__right">
                    {{#questions:questionNo}}
                        <a class="question-no {{#if this == currentSection}}is-current{{/if}}"
                           href="#" on-click="goto:question-{{questionNo}}" title="Go to question {{questionNo + 1}}">
                            {{questionNo + 1}}
                        </a>
                    {{/questions}}
                </span>
            </sticky-bar>

            {{#questions:questionNo}}
                <h2 class="question js-section" id="question-{{questionNo}}" decorator="section:{{this}}">{{question}}</h2>
                {{#if questionNo == 4}}
                    <h3>Any of these?</h3>
                {{/if}}
                <div class="answers {{#if questionsAnswered.indexOf(this) !== -1}}has-answer{{/if}}">
                    {{#answers}}
                        <a class="answers__item {{^multi}}answers__item--full{{/multi}} {{#selected}}is-selected{{/selected}}"
                           href="#" on-click="answer">
                            <i class="answers__item__icon"><img src="@@assets@@/imgs/icons/{{id}}.svg" /></i>
                            {{text}}
                            <div class="answers__item__policies">{{policies.count}}</div>
                        </a>
                    {{/answers}}
                </div>
            {{/questions}}
            <form class="postcode {{^questions}}is-hidden{{/questions}}" on-submit="postcode:{{userPostcode}}">
                <h3>Your local area?</h3>
                <input class="postcode__text" type="text" placeholder="Enter your postcode" value="{{userPostcode}}" required />
                <button class="postcode__button button button--primary button--xlarge">Lookup</button>
            </form>
            <div class="constituency {{#if userConstituency}}has-constituency{{/if}}">
                {{#userConstituency}}
                    Your constituency is <b>{{name}}</b>. In {{name}}, {{actual}}% {{issue.msg}}, compared
                    to {{issue.national}}% nationally. We've added some policies that might also be of interest
                    to you.
                {{/userConstituency}}
            </div>
            <a class="go-to-policies link-to-policies {{#if userConstituency || questionsAnswered.indexOf(questions[4]) !== -1}}is-visible{{/if}}" href="#" on-click="goto:policies">
                View your policies
            </a>
        </div>

        <div class="section" id="policies">
            <h3>Your Guide</h3>
            <h2>We've found <span style="color: #4bc6df">{{userPolicyCount}} policies</span> relevant to you</h2>
            <sticky-bar class="{{#if !currentSection.text}}is-hidden{{/if}}">
                <h3 class="sticky-bar__left you-said you-said--sticky-bar">
                    {{#if currentSection.id}}
                        <img class="you-said__img" src="@@assets@@/imgs/icons/{{currentSection.id}}.svg" />
                    {{/if}}
                    <span class="you-said__sentence">{{currentSection.sentence}}</span>
                </h3>
                <span class="sticky-bar__right">
                    <a class="link-to-top" href="#" on-click="goto:question-0" title="Go back to questions">Back to questions</a>
                </span>
            </sticky-bar>

            {{#questionsAnswered}}
                {{#answers}}
                    {{#if selected && policies.count > 0}}
                        <h3 class="you-said js-section" decorator="section:{{this}}">
                            <img class="you-said__img" src="@@assets@@/imgs/icons/{{id}}.svg" />
                            <span class="you-said__sentence">{{sentence}}</span>
                        </h3>
                        {{#policies.packages}}
                            <h4 class="policy-grid-title">{{name}}</h4>
                            <policy-grid policies="{{policies}}" />
                        {{/policies.packages}}
                    {{/if}}
                {{/answers}}
            {{/questionsAnswered}}

            {{#userConstituency}}
            <h3 class="you-said policy-grid-title js-section" decorator="constituency:{{name}}">You said you lived in {{name}}</h3>
                {{#issue}}
                    <policy-grid policies="{{policies}}" />
                {{/issue}}
            {{/userConstituency}}
        </div>

        <a class="section cta" href="#explore">
            <h2 class="title">
                Not what you wanted?<br />
                Have a look at all the policies
            </h2>
            <span class="cta__link">Explore the policies &raquo;</span>
        </a>
    </div>

    <div class="{{#mode != 'explore'}}is-hidden{{/mode}}" style="opacity: {{modeOpacity}}">
        <div class="section section--sticky-bar js-explore">
            <sticky-bar>
                <span class="sticky-bar__left link-to-policies">{{allPolicyCount}} policies</span>
                <span class="sticky-bar__right filters">
                    Show only
                    {{#parties}}
                        <label class="filters__party button button--small {{#if !selected}}button--tertiary{{/if}}">
                            <input type="checkbox" checked="{{selected}}" style="display: none" />
                            {{name}}
                        </label>
                    {{/parties}}
                    <select value="{{userArea}}">
                        <option>Jump to</option>
                        {{#areas}}
                            <option value="{{id}}">{{area}}</option>
                        {{/areas}}
                    </select>
                </span>
            </sticky-bar>
            {{#areas}}
                <h3 class="policy-grid-title" id="area-{{id}}">{{area}}</h3>
                <policy-grid policies="{{policies}}" />
            {{/areas}}
        </div>

        <a class="section cta" href="#questions">
            <div class="cta__advert"><advert /></div>
            <h2 class="title">
                Still can't decide?<br />
                Let us help build your policy profile
            </h2>
            <span class="cta__link">Answer the questions &raquo;</span>
        </a>
    </div>
    <div id="election-nav-footer"></div>
</div>
