<div id="election-nav-head"></div>
<div class="container">
    <div class="header">
        <h1>Create your own personalised policy guide</h1>
        <p class="header__text">
            How will the party's manifesto promises affect you in your daily life? Our guide selects the policy
            areas which target particular groups and lets you build up a picture of how (or whether&#8230;)
            the parties say they will help you
        </p>
        <p class="header__text">
            <a href="http://www.theguardian.com/profile/seanclarke">Seán Clarke</a>,
            <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a> and
            <a href="http://www.theguardian.com/profile/will-franklin">Will Franklin</a>
        </p>
        <p class="header__date">Wednesday 28 January 2015 18:45 GMT</p>
        <p class="header__text">
            <button on-click="share:twitter" class="share share--twitter"></button>
            <button on-click="share:facebook" class="share share--facebook"></button>
            <button on-click="share:email" class="share share--email"></button>
            <button on-click="share:google" class="share share--google"></button>
        </p>
        <div class="header__advert"><advert /></div>
    </div>

    <div class="{{#mode != 'basic'}}is-hidden{{/mode}}" style="opacity: {{modeOpacity}}">
        <div class="sticky-bar-container">
            <sticky-bar class="js-question-bar">
                <h2 class="sticky-bar__left">
                    {{#questions:questionNo}}
                        <a class="question-no {{#if this == currentSection}}is-current{{/if}}"
                           href="#" on-click="goto:question-{{questionNo}}" title="Go to question {{questionNo + 1}}">
                            {{questionNo + 1}}
                        </a>
                    {{/questions}}
                </h2>
                <span class="sticky-bar__right">
                    <a class="link-to-policies policy-summary {{#if userPolicyCount}}has-policies{{/if}}"
                       href="#" on-click="goto:policies" title="View your policies">
                        {{userPolicyCount}} policies
                    </a>
                </span>
            </sticky-bar>

            {{#questions:questionNo}}
                <h2 class="question headline js-section" id="question-{{questionNo}}" decorator="section:{{this}}">{{question}}</h2>
                <div class="answers {{#if questionsAnswered.indexOf(this) !== -1}}has-answer{{/if}}">
                    {{#answers}}
                        <a class="answers__item {{^multi}}answers__item--full{{/multi}} {{#selected}}is-selected{{/selected}}"
                           href="#" on-click="answer">
                            <i class="answers__item__icon"><img src="@@assets@@/imgs/icons/{{id}}.svg" /></i>
                            {{text}}
                            <div class="answers__item__policies">{{policies.count}}</div>
                        </a>
                    {{/answers}}
                </div>
            {{/questions}}
        </div>

        <div class="cta" id="policies">
            <h2 class="title">Your policy guide</h2>
            <h3 class="subtitle">{{userPolicyCount}} policies based on your answers</h3>

            <!--<p>
                Something about filtering parties and showing policies relevant to your constituency
            </p>

            <form class="postcode" on-submit="postcode:{{userPostcode}}">
                <input class="postcode__text" type="text" value="{{userPostcode}}" />
                <button class="postcode__button button button--primary button--xlarge">Lookup</button>
            </form>
            <div class="constituency {{#if userConstituency}}has-constituency{{/if}}">
                Your constituency is <b>{{userConstituency.name}}</b>
            </div>-->
        </div>

        <div style="position: relative; border-bottom: 1px solid #333">
            <sticky-bar class="you-said-bar">
                <span class="sticky-bar__left">
                    <h2 class="policy-title">
                        {{#currentSection}}
                            {{#if id}}
                                You said
                                <img class="you-said__img" src="@@assets@@/imgs/icons/{{id}}.svg" />
                                <span class="you-said__text">{{text}}</span>
                            {{/if}}
                        {{/currentSection}}
                    </h2><span class="policy-share">
                        <button on-click="share:twitter" class="share share--twitter"></button>
                        <button on-click="share:facebook" class="share share--facebook"></button>
                        <button on-click="share:email" class="share share--email"></button>
                        <button on-click="share:google" class="share share--google"></button>
                    </span>
                </span>
                <span class="sticky-bar__right">
                    <a class="link-to-top" href="#" on-click="question:0" title="Go back to questions">Back to questions</a>
                </span>
            </sticky-bar>

            {{#questionsAnswered}}
                {{#answers}}
                    {{#if selected}}
                        <h2 class="you-said js-section" decorator="section:{{this}}">
                            <img class="you-said__img" src="@@assets@@/imgs/icons/{{id}}.svg" />
                            <span class="you-said__text">{{text}}</span>
                        </h2>
                        {{#policies.packages}}
                            <h4>{{name}}</h4>
                            <policy-grid policies="{{policies}}" />
                        {{/policies.packages}}
                    {{/if}}
                {{/answers}}
            {{/questionsAnswered}}

            {{#userConstituency}}
                <h2>You live in {{name}}</h2>
                <p>Your constituency is particularly bad for {{max}}
                <policy-grid policies="{{policies}}" />
            {{/userConstituency}}
        </div>

        <a class="cta" href="#" on-click="mode:explore">
            <h2 class="title">Not what you wanted?</h2>
            <h3 class="subtitle">Have a look at all the policies</h3>
            <span class="cta__link">Explore the policies &raquo;</span>
        </a>
    </div>

    <div class="{{#mode != 'explore'}}is-hidden{{/mode}}" style="opacity: {{modeOpacity}}">
        <div class="sticky-bar-container">
            <sticky-bar>
                <span class="sticky-bar__left">
                    <h2 class="policy-title">{{allPolicyCount}} policies</h2>
                </span>
                <span class="sticky-bar__right">
                    Show only
                    {{#parties}}
                        <label class="party-filter button button--small {{#if !selected}}button--tertiary{{/if}}">
                            <input type="checkbox" checked="{{selected}}" style="display: none" />
                            {{name}}
                        </label>
                    {{/parties}}
                    <select value="{{userArea}}">
                        <option>Jump to</option>
                        {{#areas}}
                            <option value="{{id}}">{{area}}</option>
                        {{/areas}}
                    </select>
                </span>
            </sticky-bar>
            {{#areas}}
                <h3 class="headline" id="area-{{id}}">{{area}}</h3>
                <policy-grid policies="{{policies}}" />
            {{/areas}}
        </div>

        <a class="cta" href="#" on-click="mode:basic">
            <div class="cta__advert"><advert /></div>
            <h2 class="title">Still can't decide?</h2>
            <h3 class="subtitle">Let us help build your policy profile</h3>
            <span class="cta__link">Answer the questions &raquo;</span>
        </a>
    </div>
</div>
<div id="election-nav-footer"></div>
