<div class="policy-grid">
    {{#policies}}
        <div class="policy-grid__item {{#rowNumber == policyNo}}is-selected{{/rowNumber}}">
            <p class="policy-grid__item__party policy-grid__item__party--{{party.toLowerCase()}}">{{party}}</p>
            <h4 class="policy-grid__item__title">{{policy}}</h4>
            {{#rowNumber == policyNo}}
                <p>{{policyverbatim}}</p>
            {{/rowNumber}}
            <a class="policy-grid__item__link" href="#policy" title="Read more about this policy" on-click="policy"></a>
            <p class="policy-grid__item__toggle-selected">Read</p>
            <p class="policy-grid__item__tags explore-mode">
                {{#tags:i}}
                    {{.}}{{#if i != tags.length - 1}}{{", "}}{{/if}}
                {{/tags}}
            </p>
            <a class="policy-grid__item__toggle-bucket explore-mode" href="#" title="Add to policy bucket"></a>
        </div>
    {{/policies}}
</div>
