.answers {
    @include v-spacing(padding-bottom);

    &:last-child {
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint1) {
        margin-right: (-$gs-gutter / 2);
    }
}

.answers__item {
    @include f-textSans;
    position: relative;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 ($gs-gutter / 2) ($gs-gutter / 2) 0;
    padding: $gs-gutter $gs-gutter 0;
    border: 1px solid $c-neutral8;
    box-sizing: border-box;
    color: inherit;
    transform: translateZ(0);

    transition: background-color 0.1s linear, color 0.1s linear;

    width: 100%;
    height: 80px;

    .answers.has-answer > &,
    .answers:hover > & {
        filter: grey; // IE9
        filter: grayscale(100%);
    }

    .answers.has-answer > & {
        background-color: $c-neutral8;
        color: $c-neutral3;
    }

    &.is-selected,
    &:hover {
        text-decoration: none;
        background-color: white !important;
        color: inherit !important;
        filter: none !important;
        box-shadow: 0 0 10px 5px transparentize($c-neutral6, 0.3);
    }

    &.is-selected {
        border-color: $c-neutral3;
    }

    @media (min-width: $breakpoint1) {
        width: calc(50% - #{$gs-gutter / 2});
    }

    @media (min-width: $breakpoint2) {
        font-size: 18px;
        width: calc(25% - #{$gs-gutter / 2});
    }
}

.answers__item__icon {
    float: right;
    margin-top: -$gs-baseline;
    margin: -$gs-baseline -10px 0 0;
    padding-left: ($gs-gutter / 2);

    & > img {
        width: 62px;
    }
}

.answers__item__policies {
    line-height: 1;
    color: $c-neutral3;
    font-size: 14px;

    @media (min-width: $breakpoint1) {
        font-size: 16px;
    }

    &::after {
        content: " policies";
    }
}

.answers__item--full {
    @media (min-width: $breakpoint1) {
        font-size: 20px;
        height: 300px;
        text-align: center;
        margin-bottom: ($gs-gutter / 2 + $gs-baseline + 16px);

        & > .answers__item__icon {
            float: none;
            display: block;
            margin: 0 0 $gs-baseline;
            border-bottom: 1px solid $c-neutral6;
            padding: 0 0 $gs-baseline;

            & > img {
                width: 185px;
            }
        }

        & > .answers__item__policies {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding-top: $gs-baseline;
        }
    }
}

