@mixin sticky-bar--height($prop) {
    #{$prop}: ($gs-baseline * 5);
}

.sticky-bar.is-sticky {
    @include h-spacing(padding-left);
    @include h-spacing(padding-right);
}

.sticky-bar__inner {
    @include container--width;
    @include sticky-bar--height(height);
    @include sticky-bar--height(line-height);

    background-color: white;
    border-bottom: 1px solid $c-neutral3;
    display: table;
    width: 100%;
    border-spacing: 0;
    box-shadow: $gs-gutter 0 0 0 white, -$gs-gutter 0 0 0 white;

    .is-bottom > & {
        border-bottom: 0;
    }
}

.answer-bar {
    border-bottom: 0;
    .is-sticky > & {
        border-bottom: 1px solid $c-neutral3;
    }
}

.sticky-bar__left {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.sticky-bar__right {
    display: table-cell;
    width: 100%;
    text-align: right;
}

.policy-share > .share--email,
.policy-share > .share--google {
    display: none;
    @media (min-width: $breakpoint0) {
        display: inline-block;
    }
}

.question-no {
    @include f-textSans;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    color: inherit;
    outline: 0;
    width: 30px;
    @media (min-width: $breakpoint1) {
        width: 70px;
    }

    &:hover,
    &.is-current {
        color: $c-newsmain2;
        text-decoration: none;
    }
}

@keyframes flash {
    0%   { color: $c-neutral1; }
    20%  { color: white; }
    30%  { color: white; }
    60%  { color: $c-newsmain2; }
    100% { color: $c-neutral1; }
}

.link-to-top,
.link-to-policies {
    outline: 0;
    vertical-align: middle;
    color: $c-neutral1;

    &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        background: url('../imgs/top.svg') no-repeat center;
        border: 1px solid $c-neutral1;
        border-radius: 100px;
        margin-left: ($gs-gutter / 2);
        margin-top: -2px;
    }
}

.link-to-top {
    font-size: 0;
    @media (min-width: $breakpoint2) {
        font-size: inherit;
    }
}

.link-to-policies {
    &::after {
        transform: rotate(180deg);
    }

    &.do-animation {
        animation: flash 1s ease-out;
    }

    font-weight: bold;
    font-size: 18px;
    @media (min-width: $breakpoint1) {
        font-size: 24px;
    }
}
