@mixin sticky-bar--height($prop) {
    #{$prop}: ($gs-baseline * 4);
    @media (min-width: $breakpoint1) {
        #{$prop}: ($gs-baseline * 7);
    }
    @media (min-width: $breakpoint2) {
        #{$prop}: ($gs-baseline * 9);
    }
}

.sticky-bar.is-sticky {
    @include h-spacing(padding-left);
    @include h-spacing(padding-right);
}

.sticky-bar__inner {
    @include container--width;
    @include sticky-bar--height(height);
    @include sticky-bar--height(line-height);

    background-color: white;
    border-bottom: 1px solid $c-neutral3;
    display: table;
    border-spacing: 0;
    box-shadow: $gs-gutter 0 0 0 white, -$gs-gutter 0 0 0 white;

    .is-bottom > & {
        border-bottom: 0;
    }

    &.you-said-bar {
        display: none;
        .is-sticky > & {
            display: block;
        }
    }
}

.answer-bar {
    border-bottom: 0;
    .is-sticky > & {
        border-bottom: 1px solid $c-neutral3;
    }
}

.sticky-bar__left {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.sticky-bar__right {
    display: table-cell;
    width: 100%;
    text-align: right;
}

.policy-title,
.policy-share {
    display: inline-block;
    vertical-align: top;
}

.policy-title {
    border-right: 1px solid $c-neutral6;
    margin: 0;
    @include h-spacing(margin-right);
    @include h-spacing(padding-right);
}

.policy-share > .share--email,
.policy-share > .share--google {
    display: none;
    @media (min-width: $breakpoint0) {
        display: inline-block;
    }
}

.question-no {
    display: inline-block;
    border-right: 1px solid $c-neutral6;
    text-align: center;
    color: $c-neutral3;
    outline: 0;
    width: 33px;
    @media (min-width: $breakpoint1) {
        width: 70px;
    }
    @media (min-width: $breakpoint2) {
        width: 100px;
    }

    &:hover,
    &.is-current {
        color: inherit;
        text-decoration: none;
    }
}

@keyframes flash {
    0%   { color: $c-neutral1; }
    50%  { color: $c-newsmain2; }
    100% { color: $c-neutral1; }
}

.policy-summary {

    &.do-animation {
        animation: flash 0.3s ease-out;
    }
}

.link-to-top,
.link-to-policies {
    outline: 0;
    vertical-align: middle;
    color: $c-neutral1;

    &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        background: url('../imgs/top.svg') no-repeat center;
        border: 1px solid $c-neutral1;
        border-radius: 100px;
        margin-left: ($gs-gutter / 2);

        @media (min-width: $breakpoint1) {
            width: 38px;
            height: 38px;
        }
    }
}

.link-to-top {
    display: none;
    .is-sticky & {
        display: inline-block;
    }

    font-size: 0;
    @media (min-width: $breakpoint1) {
        font-size: inherit;

    }
}

.link-to-policies {
    opacity: 0;
    transition: opacity 0.1s linear;
    &.has-policies {
        opacity: 1;
    }

    .is-bottom & {
        display: none;
    }

    &::after {
        transform: rotate(180deg);
        display: none;
        @media (min-width: $breakpoint1) {
            display: inline-block;
        }
    }
}
