@mixin container--size {
    margin: 0 auto;

    @media (min-width: gs-span(9)) {
        max-width: gs-span(9);
    }
    @media (min-width: gs-span(12)) {
        max-width: gs-span(12);
    }
    @media (min-width: gs-span(14)) {
        max-width: gs-span(14);
    }
    @media (min-width: gs-span(16)) {
        max-width: gs-span(16);
    }
}

@mixin button--link {
    background-color: white;
    border: 0;
    cursor: pointer;
    outline: 0;
}

body {
    @include fs-bodyCopy(2);
    line-height: 1.25;
    color: $c-neutral1;
    margin: 0;
}

.interactive {
    margin: 0 !important; // Override NGW
    padding: 0;
    background-color: $c-neutral8;
}

.is-hidden {
    display: none;
}

h1, h2, h3, h4, p {
    margin: 0 0 $gs-baseline;
}

h1 {
    @include f-header;
    margin-bottom: $gs-baseline;
    font-size: 38px;
    @media (min-width: $breakpoint1) {
        font-size: 48px;
    }
}

h3 {
    line-height: 1.25; // Override NGW
}

.share {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 3px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
    }
}

.share--twitter {
    background-color: #03b3ee;
    &::before {
        background-image: url('../imgs/twitter.svg');
    }
}

.share--facebook {
    background-color: #3067a3;
    &::before {
        background-image: url('../imgs/facebook.svg');
    }
}

.share--email {
    background-color: #767676;
    &::before {
        background-image: url('../imgs/email.svg');
    }
}

.share--google {
    background-color: #e15440;
    &::before {
        background-image: url('../imgs/google.svg');
    }
}

