@mixin container--width {
    margin: 0 auto;

    @media (min-width: (gs-span(9) + $gs-gutter * 2)) {
        max-width: gs-span(9);
    }
    @media (min-width: (gs-span(12) + $gs-gutter * 2)) {
        max-width: gs-span(12);
    }
    @media (min-width: (gs-span(14) + $gs-gutter * 2)) {
        max-width: gs-span(14);
    }
    @media (min-width: (gs-span(16) + $gs-gutter * 2)) {
        max-width: gs-span(16);
    }
}

body {
    @include fs-bodyCopy(2);
    line-height: 1.25;
    color: $c-neutral1;
    margin: 0;
}

.interactive {
    margin: 0 !important; // Override NGW
    padding: 0;
    background-color: $c-neutral8;
}

.is-hidden {
    display: none !important;
}

h1, h2, h3, h4, p {
    margin: 0 0 $gs-baseline;
}

h1, h2 {
    @include f-headline;
}

h1 {
    font-size: 32px;
    @media (min-width: $breakpoint1) {
        font-size: 48px;
    }
}

h2 {
    font-size: 26px;
    @media (min-width: $breakpoint1) {
        font-size: 36px;
    }
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h3 + h2 {
    margin-top: -$gs-baseline;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

a {
    color: map-get($pasteup-palette, guardian-brand);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

figure img {
    display: inline; // Override NGW
}

img {
    border: 0;
}

.is-immersive .l-footer {
    display: block;
}

.share {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 3px;
    vertical-align: middle;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
    }
}

.share--twitter {
    background-color: #03b3ee;
    &::before {
        background-image: url('../imgs/twitter.svg');
    }
    &:hover {
        background-color: #028dbc;
    }
}

.share--facebook {
    background-color: #3067a3;
    &::before {
        background-image: url('../imgs/facebook.svg');
    }
    &:hover {
        background-color: #244e7c;
    }
}

.share--email {
    background-color: #767676;
    &::before {
        background-image: url('../imgs/email.svg');
    }
    &:hover {
        background-color: #5d5d5d;
    }
}

.share--google {
    background-color: #e15440;
    &::before {
        background-image: url('../imgs/google.svg');
    }
    &:hover {
        background-color: #ce3620;
    }
}
