$policy-height: 130px;
$policy-height-selected: $policy-height * 2 + $gs-baseline;

h3.policy-grid-title {
    padding-top: ($gs-baseline * 2);
}

h4.policy-grid-title {
    padding-top: $gs-baseline;
}

.policy-grid {
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint0) {
        margin-right: (-$gs-gutter / 2);
        &.has-selected {
            padding-bottom: ($policy-height-selected - $policy-height);
        }
    }

    @media (min-width: $breakpoint1) {
        margin-right: -$gs-baseline;
    }
}

.policy-grid__item {
    position: relative;
    height: 100px;
    border: 2px solid $c-neutral7;
    box-sizing: border-box;
    float: left;
    margin-bottom: ($gs-gutter / 2);
    @include h-spacing(padding);
    font-size: 15px;
    background-color: $c-neutral8;
    transition: background-color 0.1s ease-out, border-color 0.1s ease-out, opacity 0.1s ease-out;
    width: 100%;

    @media (min-width: $breakpoint0) {
        height: $policy-height;
        margin: 0 $gs-baseline $gs-baseline 0;
    }

    @mixin columns($cols, $start) {
        $width: 100% / $cols;

        @media (min-width: $start) {
            width: calc(#{$width} - #{$gs-baseline});

            &.is-selected {
                width: calc(#{$width * 3} - #{$gs-baseline});
                margin-left: -($width * 2);
                left: ($width * 2);
            }

            &.is-selected.is-at-edge {
                margin-left: auto;
                left: auto;
                margin-right: -($width * 2);
                right: ($width * 2);
            }
        }
    }

    @include columns(3, $breakpoint0);
    @include columns(4, $breakpoint1);
    @include columns(5, $breakpoint2);

    &:hover {
        border-color: $c-neutral5;
        background-color: white;
    }

    .has-selected > & {
        opacity: 0.4;
    }
}

.policy-grid__item__title {
    font-size: inherit;
    font-weight: normal;
}

.policy-grid__item__link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0;
}

.policy-grid__item__share {
    position: relative;
    z-index: 2;
    @media (min-width: $breakpoint0) {
        position: absolute;
        left: $gs-gutter / 2;
        top: 40px;
    }
    @media (min-width: $breakpoint1) {
        left: $gs-gutter;
        top: 50px;
    }
}

.policy-grid__item__source {
    position: relative;
    z-index: 2;
    font-weight: normal;

    &::after {
        content: "";
        display: inline-block;
        background: url('../imgs/external.svg') no-repeat center;
        background-size: contain;
        margin-left: 5px;
        width: 16px;
        height: 10px;
    }

    @media (min-width: $breakpoint0) {
        position: absolute;
        left: ($gs-gutter / 2);
        top: 92px;
    }
    @media (min-width: $breakpoint1) {
        left: $gs-gutter;
        top: 102px;
    }

}

.policy-grid__item__commentary {
    padding-top: 5px;
    border-top: 1px dotted $c-neutral5;
    color: $c-neutral2;
}

.policy-grid__item__commentary__link {
    position: relative;
    z-index: 1;
    font-weight: bold;

    & > img {
        position: relative;
        z-index: 1;
        float: left;
        width: 50px;
        border-radius: 100px;
        margin-right: 10px;
    }
}

.policy-grid__item__party {
    @include f-textSans;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: ($gs-baseline / 2);

    &::before {
        content: "";
        display: inline-block;
        height: 14px;
        width: 6px;
        border-radius: 2px;
        vertical-align: middle;
        margin: -2px 5px 0 0;
    }
}

@mixin party-color($party, $color) {
    .party-#{$party} > .policy-grid__item__party::before {
        background-color: $color;
    }
}

@include party-color(conservatives, #0087dc);
@include party-color(labour, #d50000);
@include party-color(ukip, #70147A);
@include party-color(lib-dems, #fdbb30);
@include party-color(plaid-cymru, #3f8428);
@include party-color(snp, #fff95d);
@include party-color('green', #008066);

@mixin party-hide($party) {
    .hide-#{$party} > .policy-grid > .party-#{$party} {
        display: none;
    }
}

@include party-hide(conservatives);
@include party-hide(labour);
@include party-hide(ukip);
@include party-hide(lib-dems);
@include party-hide(plaid-cymru);
@include party-hide(snp);
@include party-hide('green');

.policy-grid__item.is-selected {
    background-color: transparentize(white, 0.05);

    z-index: 2;
    min-height: $policy-height-selected;
    height: auto;
    box-shadow: none;
    border-color: $c-neutral3;
    color: inherit;

    .policy-grid__item__party {
        @include h-spacing(left);
        @media (min-width: $breakpoint0) {
            position: absolute;
        }
    }

    .policy-grid__item__title {
        font-weight: bold;
    }

    @media (min-width: $breakpoint0) {
        padding-left: gs-span(2);
    }

    @media (min-width: $breakpoint1) {
        margin-bottom: ($policy-height - $policy-height-selected + $gs-baseline);
        height: $policy-height-selected;
    }

    .has-selected > & {
        opacity: 1;
    }
}
