.policy-title__title {
    border-right: 1px solid $c-neutral6;
    padding-right: ($gs-gutter / 2);
    @media (min-width: $breakpoint1) {
        padding-right: $gs-gutter;
    }
}

.policy-title__share {
    font-size: 18px;
    padding-left: ($gs-gutter / 2);
    @media (min-width: $breakpoint1) {
        padding-left: $gs-gutter;
    }
}

.policy-title__share__text {
    display: none;
    padding-right: 3px;
    @media (min-width: $breakpoint2) {
        display: inline;
    }
}

.policy-title--grid {
    display: table;
    border-spacing: 0;
    border-top: 1px solid $c-neutral3;
    border-bottom: 1px solid $c-neutral6;
    margin-top: ($gs-baseline * 2);
    @media (min-width: $breakpoint1) {
        margin-top: ($gs-baseline * 4);
    }

}

.policy-title--grid__all,
.policy-title--grid > .policy-title__title,
.policy-title--grid > .policy-title__share {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.policy-title--grid__all {
    padding-left: $gs-gutter;
    width: 100%;
    text-align: right;
    font-size: 0; // To keep the width 100%
    @media (min-width: $breakpoint1) {
        font-size: 18px;
    }
}

.policy-title--top-bar > .policy-title__title {
    display: inline;
    vertical-align: middle;
}

.policy-grid-empty {
    height: 800px;
    margin: 0 auto;
    max-width: gs-span(6);
    text-align: center;

    & > span {
        display: inline-block;
        vertical-align: middle;
    }

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.policy-grid {
    overflow: hidden;
}

.policy-grid__sizer,
.policy-grid__item {
    width: 100%;
    @media (min-width: $breakpoint1) {
        width: 50%;
    }
    @media (min-width: $breakpoint2) {
        width: 33%;
    }
    @media (min-width: gs-span(14)) {
        width: 25%;
    }
}

.policy-grid__item {
    position: relative;
    height: 160px;
    border: 2px solid transparent;
    padding: ($gs-gutter / 2);
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 $c-neutral6;

    @media (min-width: $breakpoint1) {
        padding: $gs-gutter;
        border-bottom-color: transparent;
        box-shadow: ($gs-gutter + 1px) 0 0 (-$gs-gutter) $c-neutral6, 0 ($gs-gutter + 1px) 0 (-$gs-gutter) $c-neutral6;
    }

    &:hover {
        box-shadow: none;
        border-color: $c-neutral6;
    }
}

.policy-grid__item__title {
    font-weight: normal;
}

.policy-grid__item__text {
    display: none;
}

.policy-grid__item__tags {
    @include fs-textSans(1);
    color: $c-neutral3;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    & > a {
        color: inherit;
    }
}

.policy-grid__item__link {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // This is a horrible hack 
    &:hover + .policy-grid__item__title {
        text-decoration: underline;
    }
}

.policy-grid__item__party {
    @include f-textSans;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
    color: #666;
    border-radius: 4px;
    background-color: $c-neutral7;
    padding: 6px 8px 5px;

    &::before {
        content: "";
        display: inline-block;
        height: 14px;
        width: 6px;
        border-radius: 2px;
        vertical-align: middle;
        margin: -2px 5px 0 0;
    }
}

@mixin policy-grid__item__party--color($party, $color) {
    .policy-grid__item__party--#{$party}::before {
        background-color: $color;
    }
}

@include policy-grid__item__party--color(conservative, #0087dc);
@include policy-grid__item__party--color(labour, #d50000);
@include policy-grid__item__party--color(ukip, #70147A);
@include policy-grid__item__party--color(ld, #fdbb30);
@include policy-grid__item__party--color(pc, #3f8428);
@include policy-grid__item__party--color(snp, #fff95d);

.policy-grid__item.is-selected {
    $breakpoint-min: gs-span(7);

    z-index: 1;
    height: auto;
    box-shadow: none;
    border-color: $c-neutral2;

    .policy-grid__item__party {
        @media (min-width: $breakpoint-min) {
            position: absolute;
            left: ($gs-gutter / 2);
        }
        @media (min-width: $breakpoint1) {
            left: $gs-gutter;
        }
    }

    .policy-grid__item__title {
        font-weight: bold;
        text-decoration: none !important;
    }

    .policy-grid__item__text {
        display: block;
    }

    @media (min-width: $breakpoint-min) {
        padding-left: gs-span(2);
    }

    @media (min-width: $breakpoint1) {
        width: 100%;
        height: 320px;
    }
    @media (min-width: $breakpoint2) {
        width: 66%;
    }
    @media (min-width: gs-span(14)) {
        width: 50%;
    }
}
