@mixin sticky-bar--height($prop, $n: 1) {
    $size: $gs-baseline * $n;
    #{$prop}: ($size * 4);
    @media (min-width: $breakpoint1) {
        #{$prop}: ($size * 7);
    }
    @media (min-width: $breakpoint2) {
        #{$prop}: ($size * 9);
    }
}

.sticky-bar {
    @include container--width;
    @include sticky-bar--height(height);

    background-color: white;
    border-bottom: 1px solid $c-neutral6;
}
