@mixin link($color, $hover: false) {
    &, &:hover, &:active {
        color: $color;
        text-decoration: none;
    }

    @if $hover == true {
        &:hover {
            text-decoration: underline;
        }
    }
}

body {
    @include fs-bodyCopy(2);
    line-height: 1.25;
    color: $c-neutral1;
    margin: 0;
}

.interactive {
    margin: 0 !important; // Override NGW
    padding: 0;
    background-color: $c-neutral8;
}

.is-hidden {
    display: none;
}

@mixin container--size {
    margin: 0 auto;

    @media (min-width: gs-span(9)) {
        max-width: gs-span(9);
    }
    @media (min-width: gs-span(12)) {
        max-width: gs-span(12);
    }
    @media (min-width: gs-span(14)) {
        max-width: gs-span(14);
    }
    @media (min-width: gs-span(16)) {
        max-width: gs-span(16);
    }
}

.container {
    @include container--size;
    padding: $gs-gutter;
    background-color: white;
    overflow: hidden;

    counter-reset: question;
}

h1, h2, h3, h4, p {
    margin: 0 0 $gs-baseline;
}

h1 {
    @include f-header;
    margin-bottom: $gs-baseline;
    font-size: 48px;
}

$top-bar-size: ($gs-baseline * 8);

.header {
    border-bottom: 1px solid $c-neutral3;
    margin-bottom: $top-bar-size;
}

.header__text {
    color: $c-neutral2;
    max-width: gs-span(6);

    & > a {
        font-weight: bold;
    }
}

.share {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 3px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
    }
}

.share--twitter {
    background-color: #03b3ee;
    &::before {
        background-image: url('../imgs/twitter.svg');
    }
}

.share--facebook {
    background-color: #3067a3;
    &::before {
        background-image: url('../imgs/facebook.svg');
    }
}

.share--email {
    background-color: #767676;
    &::before {
        background-image: url('../imgs/email.svg');
    }
}

.share--google {
    background-color: #e15440;
    &::before {
        background-image: url('../imgs/google.svg');
    }
}


// Stops questions from moving up when top bar becomes fixed
.top-bar-container {
    position: relative;
    top: -$top-bar-size;
    height: 0;

    &.is-sticky {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
    }
}

.top-bar {
    @include container--size;
    display: table;
    width: 100%;
    height: $top-bar-size;
    border-bottom: 1px solid $c-neutral6;
    background-color: white;
}

.top-bar--left {
    display: table-cell;
    white-space: nowrap;
    height: 100%;
}

.top-bar--right {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 38px + ($gs-baseline / 2);
}

.top-bar__question {
    display: inline-block;
    padding: 0 $gs-gutter;
    box-sizing: border-box;
    border-right: 1px solid $c-neutral6;
    width: $top-bar-size;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: $top-bar-size;

    @include link($c-neutral1);

    &:hover,
    &.is-current {
        background-color: $c-newsmain2;
    }
}

.top-bar__area {
    vertical-align: middle;
    font-weight: normal;
}

.question {
    @include f-headline;
    font-size: 40px;
    position: relative;
    max-width: gs-span(6);
    margin-right: $gs-gutter;
    padding: ($gs-baseline * 4) 0 $gs-baseline 40px;

    &::before {
        position: absolute;
        left: 0;
        counter-increment: question;
        content: counter(question) ".";
    }
}

.answers {
    margin-right: (-$gs-gutter * 0.5);
}

.answers__item {
    @include fs-textSans(4);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 260px;
    margin: 0 ($gs-gutter / 2) ($gs-gutter / 2) 0;
    padding: $gs-gutter;
    border: 1px solid $c-neutral6;
    box-sizing: border-box;

    width: calc(50% - #{$gs-gutter / 2});
    @media (min-width: gs-span(12)) {
        width: calc(25% - #{$gs-gutter / 2});
    }

    @include link($c-neutral1);

    .answers.is-answered > &,
    .answers:hover > & {
        background-color: $c-neutral6;
        filter: grey;
        filter: grayscale(100%);
    }

    &.is-selected,
    &:hover {
        background-color: white !important;
        filter: none !important;
        box-shadow: 0 0 ($gs-gutter / 2) 0 transparentize($c-neutral7, 0.1);
    }
}

.answers__item__icon {
    display: block;
    margin: 0 auto $gs-baseline;
    width: 120px;
    border-bottom: 1px solid $c-neutral6;
    padding-bottom: ($gs-baseline * 2);

    & > img {
        display: block;
        width: 100%;
    }
}

.tags {
    @include fs-textSans(3);
    position: absolute;
    top: -1px; // hide the policy-grid border
    left: (-$gs-gutter * 1.5);
    right: (-$gs-gutter * 1.5);
    color: white;
    background-color: darken($c-neutral3, 10%);
    min-height: gs-height(1);
    padding: ($gs-baseline - 4px) ($gs-gutter * 2) 0;

    @media (min-width: gs-span(8)) {
        line-height: gs-height(1);
        padding-top: 0;
    }

    &::before {
        content: "Policy tags";
        float: left;
        font-weight: bold;
        padding-right: $gs-gutter;
    }
}

.tags__toggle {
    float: left;
    margin-right: ($gs-gutter * 2);

    @include link(white, true);
}

.tags__list {
    overflow: hidden;
    line-height: get-line-height(textSans, 3) + ($gs-baseline / 2 + 2px);
    padding: 4px 0;

    clear: left;
    @media (min-width: gs-span(8)) {
        clear: none;
    }
}

.tags__list--hidden {
    opacity: 0.5;
}

.tags__list__tag {
    @include fs-textSans(3, $size-only: true);
    position: relative;
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    margin-right: ($gs-baseline / 2);
    padding: 0 ($gs-gutter / 2);
    border: 1px solid white;
    border-radius: 100px;

    transition: border-color 0.1s ease-out;

    @include link(white);

    &:hover {
        border-color: $c-newsmain2;
        background-color: $c-newsmain2;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: ($gs-gutter / 2);
            margin-top: -7px;
            width: 10px;
            height: 10px;
            border: 2px solid $c-neutral2;
            border-radius: 100px;
            background-color: $c-neutral2;
            background-image: url('../imgs/cross.svg');
            background-size: contain;
            box-shadow: -5px 0px 5px $c-newsmain2, 0 0 0 2px $c-newsmain2;
        }
    }

    &:active {
        border-color: $c-neutral2;
        background-color: $c-neutral2;
        &::after {
            box-shadow: -5px 0px 5px $c-neutral2, 0 0 0 2px $c-neutral2;
        }
    }
}

.policies {
    position: relative;
    padding: ($gs-baseline + gs-height(1)) ($gs-gutter / 2) 0;
    border-top: 1px solid $c-neutral6;
    box-shadow: inset 0px $gs-gutter $gs-gutter (-$gs-gutter) transparentize($c-neutral6, 0.2);
}
