.container {
    @include container--size;
    background-color: white;
    counter-reset: question;
    padding: ($gs-gutter / 2);
    @media (min-width: $breakpoint2) {
        padding: $gs-gutter;
    }

    &.is-explore .basic-mode {
        display: none;
    }
    &.is-basic .explore-mode {
        display: none;
    }
}

.header {
    @include top-bar-size(margin-bottom);
    border-bottom: 1px solid $c-neutral3;
    padding-bottom: ($gs-baseline * 2);
}

.header__date,
.header__text {
    color: $c-neutral2;
    max-width: gs-span(6);

    & > a {
        font-weight: bold;
    }
}

.header__date {
    @include fs-textSans(1);
    margin-top: -($gs-baseline / 2);
}

.headline {
    @include f-headline;
    font-size: 26px;
    padding-top: ($gs-baseline * 2);
    padding-bottom: $gs-baseline;

    @media (min-width: $breakpoint1) {
        font-size: 40px;
        padding-top: ($gs-baseline * 4);
    }
}

// Stops questions from moving up when top bar becomes fixed
.top-bar-wrapper {
    @include top-bar-size(top, -1);
    position: relative;
    height: 0;
}

.top-bar {
    @include container--size;
    display: table;
    border-spacing: 0;
    width: 100%;
    border-bottom: 1px solid $c-neutral6;
    background-color: white;
    @include top-bar-size(line-height);

    &.is-sticky {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
    }
}

.top-bar--left {
    display: table-cell;
    white-space: nowrap;
}

.top-bar--right {
    display: table-cell;
    text-align: right;
    width: 100%;
    vertical-align: middle;
}

.top-bar__block {
    @include f-headline;
    @include button--link;
    display: inline-block;
    border-right: 1px solid $c-neutral6;
    vertical-align: top;

    &:hover,
    &.is-current {
        background-color: lighten($c-newsmain2, 15%);
    }

    @include top-bar-size(width);
    @include top-bar-size(height);

    font-size: 26px;
    @media (min-width: $breakpoint1) {
        font-size: 40px;
    }
}

.top-bar__block--cart {
    background: url('../imgs/cart.svg') no-repeat center;
    border-left: 1px solid $c-neutral6;
    border-right: 0;
    margin-left: ($gs-gutter / 4);
    @media (min-width: $breakpoint1) {
        margin-left: ($gs-gutter / 2);
    }
}

.question {
    position: relative;
    padding-left: 27px;
    max-width: gs-span(6);

    @media (min-width: $breakpoint1) {
        padding-left: 37px;
    }

    &::before {
        position: absolute;
        left: 0;
        counter-increment: question;
        content: counter(question) ".";
    }
}
