$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';
@import 'bower_components/guss-colours/_colours';
@import 'bower_components/guss-grid-system/_grid-system';
@import 'bower_components/sass-mq/_mq';
@import 'bower_components/pasteup-buttons/src/_buttons';

@include guss-webfonts();
@include guss-typography-defaults;

$c-neutral1: map-get($pasteup-palette, neutral-1);
$c-neutral2: map-get($pasteup-palette, neutral-2);
$c-neutral3: map-get($pasteup-palette, neutral-3);
$c-neutral5: map-get($pasteup-palette, neutral-5);
$c-neutral6: map-get($pasteup-palette, neutral-6);
$c-neutral7: map-get($pasteup-palette, neutral-7);
$c-neutral8: map-get($pasteup-palette, neutral-8);
$c-newsmain2: map-get($pasteup-palette, news-main-2);

$breakpoint0: gs-span(7);
$breakpoint1: gs-span(9) + $gs-gutter * 2;
$breakpoint2: gs-span(12) + $gs-gutter * 2;
$breakpoint3: gs-span(14) + $gs-gutter * 2;

@mixin spacing($prop, $base) {
    #{$prop}: $base;
    @media (min-width: $breakpoint1) {
        #{$prop}: ($base * 2);
    }
}

@mixin h-spacing($prop) {
    @include spacing($prop, $gs-gutter / 2);
}

@mixin v-spacing($prop) {
    @include spacing($prop, $gs-baseline * 2);
}

@import 'common';
@import 'bars';
@import 'policy-grid';
@import 'style';
@import 'answers';
